.frame_159 {
/* Frame 159 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
/* gap: 24px; */

width: 248px;
height: 234px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.wrapper {
/* Wrapper */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 41px;

width: 248px;
height: 234px;

/* Grey/50 */

background: #FAFAFA;
/* Grey/200 */

border: 1px solid #F5F5F5;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.info {
/* Info */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px;

width: 248px;
height: 234px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.info2 {
/* Info */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 192px;
height: 210px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.frame_662 {
/* Frame 662 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 6px;

width: 192px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.image16 {
/* image 16 */


box-sizing: border-box;

width: 32px;
height: 32px;

background: url('../../../images/image16.png');
/* Grey/500 */

border: 0px solid #616161;
border-radius: 150px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.text16 {
/* ハブ名称ハブ名称ハ… */


width: 154px;
height: 16px;

/* H5/Bold */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

/* Grey/800 */

color: #212121;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.contact_info {
/* Contact Info */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 192px;
height: 168px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.email {
/* Email */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 192px;
height: 34px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.email_text1 {
/* メンバー */


width: 42px;
height: 16px;

/* Caption/Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
/* identical to box height, or 160% */

letter-spacing: 0.03em;

/* Grey/500 */

color: #616161;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.email_text2 {
/* 1,542人 */


width: 42px;
height: 14px;

/* Body-Sm/Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


/* Grey/800 */

color: #212121;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.phonelocation1 {
/* Phone & Location */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 86px 0px 0px;
gap: 16px;

width: 192px;
height: 34px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.phone {
/* Phone */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 48px;
height: 34px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.phone_text1 {
/* 公開範囲 */


width: 42px;
height: 16px;

/* Caption/Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
/* identical to box height, or 160% */

letter-spacing: 0.03em;

/* Grey/500 */

color: #616161;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.phone_text2 {
/* 一般公開 */


width: 48px;
height: 14px;

/* Body-Sm/Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


/* Grey/800 */

color: #212121;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.location {
/* Location */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 72px;
height: 34px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
} 
.location_text1 {
/* 接続アセット数 */


width: 73px;
height: 16px;

/* Caption/Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
/* identical to box height, or 160% */

letter-spacing: 0.03em;

/* Grey/500 */

color: #616161;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.location_text2 {
/* 8 */


width: 7px;
height: 14px;

/* Body-Sm/Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


/* Grey/800 */

color: #212121;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.phonelocation2 {
/* Phone & Location */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 192px;
height: 68px;


/* Inside auto layout */

flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}
.phone2 {
/* Phone */


/* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 192px;
height: 68px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
.phone_text {
/* カテゴリー */


width: 52px;
height: 16px;

/* Caption/Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 16px;
/* identical to box height, or 160% */

letter-spacing: 0.03em;

/* Grey/500 */

color: #616161;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.frame_440 {
/* Frame 440 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 218px;
height: 22px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.badge1 {
/* Badge */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 10px;

width: 71px;
height: 22px;

/* Scalably Blue/50 */

background: #FFEEFF;
border-radius: 100px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.badge1_text {
/* Rounded */


width: 55px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


/* Scalably Blue/500 */

color: #7079E0;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.badge2_text {
/* Rounded */


width: 127px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #626AAF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.badge2 {
/* Badge */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 10px;

width: 143px;
height: 22px;

background: #FFEEFF;
border-radius: 100px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.frame_441 {
/* Frame 441 */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 177px;
height: 22px;


/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.frame441_bedge1 {
/* Badge */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 10px;

width: 71px;
height: 22px;

background: #FFEEFF;
border-radius: 100px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.frame441_bedge1_text {
/* Rounded */


width: 55px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #626AAF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.frame441_bedge2 {
/* Badge */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 10px;

width: 71px;
height: 22px;

/* Scalably Blue/50 */

background: #FFEEFF;
border-radius: 100px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.frame441_bedge2_text {
/* Rounded */


width: 55px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


/* Scalably Blue/500 */

color: #7079E0;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.frame441_bedge3 {
/* Badge */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 8px;
gap: 10px;

width: 27px;
height: 22px;

border-radius: 100px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}
.frame441_bedge3_text {
/* Rounded */


width: 11px;
height: 14px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
/* identical to box height */


color: #626AAF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.menu {
/* Menu */


/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 6px;
gap: 10px;

width: 32px;
height: 32px;

border-radius: 102px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.img_menu {
    /* open-in-new */


width: 20px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}